<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluda.hair.persistence.mapper.BookingMapper">
  <insert id="requestBooking" parameterType="com.eluda.hair.persistence.vo.BookingVo">
    INSERT
    INTO    booking  
            ( shop_id,
              customer_id,
              booking_datetime,
              shop_menu_id,
              hairdresser_id,
              progress,
              booking_way,
              memo
            )
    VALUES  ( #{shopId},
              #{customerId},
              #{bookingDatetime},
              #{shopMenuId},
              #{hairdresserId},
              #{progress},
              #{bookingWay},
              #{memo}
            )
  </insert>  
  
  <select id="getRequestBookingList" resultType="com.eluda.hair.persistence.dto.BookingInfo">
    SELECT b.criteria_datetime AS booking_datetime,      
           b.customer_id,
           b.my_booking_or_not,
           IF(b.progress=10, 'N', 'Y') AS assigned_or_not,
           c.name AS customer_name,       
           c.phone_number AS customer_phone_number,       
           b.hairdresser_id,
           h.nickname hairdresser_name,
           sm.name AS service_name,
           b.service_expect_begin_datetime,
           b.service_expect_end_datetime,
           b.memo
    FROM   (
             SELECT shop_id,
                    customer_id,
                    IF(customer_id=IFNULL(#{customerId},0),IFNULL(service_expect_begin_datetime, booking_datetime), service_expect_begin_datetime) AS criteria_datetime,
                    IF(customer_id=IFNULL(#{customerId},0),'Y', 'N') AS my_booking_or_not,
                    shop_menu_id,
                    hairdresser_id,
                    service_expect_begin_datetime,
                    service_expect_end_datetime,
                    progress,
                    memo
               FROM booking
           ) b
		       INNER JOIN customer c       
		       ON b.customer_id = c.id
		       INNER JOIN hairdresser h
		       ON b.hairdresser_id = h.id
		       LEFT OUTER JOIN shop_menu sm
		       ON b.shop_menu_id = sm.id
		WHERE  b.shop_id = #{shopId}
		  AND  b.progress IN ( 10, 30 ) /* 신청, 접수 */
		  AND  b.criteria_datetime BETWEEN #{fromDateTime} AND #{toDateTime}
	  ORDER  BY b.criteria_datetime ASC
  </select>
  
  <select id="getBookingList" resultType="com.eluda.hair.persistence.dto.BookingInfo">
    SELECT b.shop_id,
		       b.customer_id,
		       c.name AS customer_name,
           c.phone_number AS customer_phone_number,
           b.booking_datetime,
           sm.id AS shop_menu_id,
           sm.name AS service_name,
           h.id AS hairdresser_id,
           h.nickname AS hairdresser_name,
           b.progress,
           b.booking_way,
           b.memo,
           b.service_expect_begin_datetime,
           b.service_expect_end_datetime
		  FROM booking b
		       INNER JOIN customer c
		       ON b.customer_id = c.id
		       INNER JOIN hairdresser h
		       ON b.hairdresser_id = h.id
		       LEFT OUTER JOIN shop_menu sm
		       ON b.shop_menu_id = sm.id
		 WHERE b.shop_id = #{shopId}
		 <if test="progress != 0">
       AND b.progress = #{progress}
     </if>		   
		   AND b.booking_datetime BETWEEN #{fromDateTime} AND #{toDateTime}
		 ORDER BY b.booking_datetime DESC
  </select>
  
  <select id="getBookingProgressList" resultType="com.eluda.hair.persistence.vo.BookingProgressVo">
    SELECT booking_progress_id,
           name
      FROM booking_progress_language
     WHERE language_id = #{languageId}
  </select>
</mapper>
