<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluda.hair.persistence.mapper.BookingMapper">
  <insert id="requestBooking" parameterType="com.eluda.hair.persistence.vo.BookingVo">
    INSERT
    INTO    booking  
            ( shop_id,
              customer_id,
              booking_datetime,
              procedure_menu_id,
              procedure_hairdresser_id,
              progress,
              booking_way,
              memo
            )
    VALUES  ( #{shopId},
              #{customerId},
              #{bookingDatetime},
              #{procedureMenuId},
              #{procedureHairdresserId},
              #{progress},
              #{bookingWay},
              #{memo}
            )
  </insert>  
  
  <select id="getRequestBookingList" resultType="com.eluda.hair.persistence.dto.BookingInfo">
    SELECT b.criteria_datetime AS booking_datetime,      
           b.customer_id,
           IF(b.progress=0, 'N', 'Y') AS assigned_or_not,
           c.name AS customer_name,       
           c.phone_number AS customer_phone_number,       
           b.procedure_hairdresser_id AS hairdresser_id,
           h.nickname hairdresser_name,
           sm.name AS procedure_name,
           b.procedure_expect_begin_datetime,
           b.procedure_expect_end_datetime,
           b.memo
    FROM   (
             SELECT shop_id,
                    customer_id,
                    IFNULL(procedure_expect_begin_datetime, booking_datetime) AS criteria_datetime,
                    procedure_menu_id,
                    procedure_hairdresser_id,
                    procedure_expect_begin_datetime,
                    procedure_expect_end_datetime,
                    progress,
                    memo
               FROM booking
           ) b
		       INNER JOIN customer c       
		       ON b.customer_id = c.id
		       INNER JOIN hairdresser h
		       ON b.procedure_hairdresser_id = h.id
		       LEFT OUTER JOIN shop_menu sm
		       ON b.procedure_menu_id = sm.id
		WHERE  b.shop_id = #{shopId}
		  AND  b.progress IN ( 0, 1 )
		  AND  b.criteria_datetime BETWEEN #{fromDateTime} AND #{toDateTime}
	  ORDER  BY b.criteria_datetime ASC
  </select>
</mapper>
