<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluda.hair.persistence.mapper.HairdresserMapper">
 
  <select id="getShopHairDresserList" resultType="com.eluda.hair.persistence.vo.HairdresserVo">
		SELECT h.id,
		       h.name,
		       h.nickname,
		       h.set_look_for,
		       h.situation
		  FROM shop_hairdresser sh
		       INNER JOIN hairdresser h
		       ON sh.hairdresser_id = h.id
		 WHERE sh.shop_id = #{shopId}
  </select>
  
  
    
</mapper>
