<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluda.hair.persistence.mapper.ShopMenuMapper">
 
  <select id="getShopMenuList" resultType="com.eluda.hair.persistence.vo.ShopMenuVo">
		SELECT id,
		       type_id,
		       name,
		       common_menu_id,
		       price
		  FROM shop_menu
		 WHERE shop_id = #{shopId}
		   AND delete_yn = 0
		   <if test="typeId != null">
	     AND type_id = #{typeId}
	    </if>
  </select>
    
</mapper>
